---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  interval: 5m
  url: https://kubernetes.github.io/ingress-nginx
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  targetNamespace: garden
  interval: 1m
  dependsOn:
    - name: pre-gardener-configuration
  chart:
    spec:
      chart: ingress-nginx
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system
      interval: 1m
  valuesFrom:
    - kind: Secret
      name: ingress-nginx-base-values
    - kind: Secret
      name: ingress-nginx-values-0
      optional: true
    - kind: Secret
      name: ingress-nginx-values-1
      optional: true
    - kind: Secret
      name: ingress-nginx-values-2
      optional: true
    - kind: Secret
      name: ingress-nginx-values
      optional: true
