sources:
    - name: gardenlet
      repo: gardener/gardener
      version:
        fromFile: <PATH_TO>/23ke/gardener/gardenlet.yaml
      imageVector: charts/images.yaml
    - name: provider-openstack
      repo: gardener/gardener-extension-provider-openstack
      version:
        fromFile:<PATH_TO>/extensions-base-values.yaml
      imageVector: charts/images.yaml
    - name: networking-calico
      repo: gardener/gardener-extension-networking-calico
      version:
        fromFile: <PATH_TO>/extensions-base-values.yaml
      imageVector: charts/images.yaml
    - name: etcd-druid
      repo: gardener/etcd-druid
      version:
        fromFile: iterative
      imageVector: charts/images.yaml
