apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: pre-gardener-configuration
  namespace: flux-system
spec:
  interval: 1m
  chart:
    spec:
      chart: pre-gardener/configuration
      sourceRef:
        kind: GitRepository
        name: 23ke
        namespace: flux-system
      interval: 1m
  valuesFrom:
    - kind: Secret
      name: 23ke-env-substitutions
      valuesKey: config
