apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  targetNamespace: garden
  interval: 1m
  dependsOn:
    - name: pre-gardener-configuration
    - name: addons
  chart:
    spec:
      chart: ingress-nginx
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system
      interval: 1m
  valuesFrom:
    - kind: Secret
      name: ingress-nginx-base-values
    - kind: Secret
      name: ingress-nginx-values
      optional: true
