apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  install:
    remediation:
      retries: 50
    createNamespace: true
  targetNamespace: garden
  interval: 1m
  dependsOn:
    - name: configuration
    - name: addons
  chart:
    spec:
      chart: ingress-nginx
      version: 4.8.3
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system
      interval: 1m
  valuesFrom:
    - kind: Secret
      name: ingress-nginx-base-values
    - kind: Secret
      name: ingress-nginx-values-0
      optional: true
    - kind: Secret
      name: ingress-nginx-values-1
      optional: true
    - kind: Secret
      name: ingress-nginx-values-2
      optional: true
    - kind: Secret
      name: ingress-nginx-values
      optional: true
