kind: Shoot
apiVersion: core.gardener.cloud/v1beta1
metadata:
  namespace: garden-23ke-ci
  name: 23ke-test
  labels:
    23technologies.cloud/free-to-use: "true"
  annotations:
    shoot.gardener.cloud/cleanup-webhooks-finalize-grace-period-seconds: "0"
    shoot.gardener.cloud/cleanup-extended-apis-finalize-grace-period-seconds: "0"
spec:
  provider:
    type: hcloud
    infrastructureConfig:
      apiVersion: hcloud.provider.extensions.gardener.cloud/v1alpha1
      kind: InfrastructureConfig
      networks:
        workers: 10.11.0.0/16
    controlPlaneConfig:
      apiVersion: hcloud.provider.extensions.gardener.cloud/v1alpha1
      kind: ControlPlaneConfig
      loadBalancerProvider: provider
      zone: hel1-dc2
    workers:
      - name: worker-cx41
        minimum: 4
        maximum: 10
        maxSurge: 1
        machine:
          type: cx41
          image:
            name: ubuntu
            version: 20.4.20210616
        zones:
          - hel1-dc2
        cri:
          name: containerd
        volume:
          size: 50Gi
  networking:
    nodes: 10.11.0.0/16
    pods: 10.10.0.0/16
    services: 10.16.0.0/13
    type: calico
  cloudProfileName: hcloud
  region: hel1
  secretBindingName: hcloud-secret
  kubernetes:
    version: 1.22.9
    verticalPodAutoscaler:
      enabled: true
  purpose: evaluation
  addons:
    kubernetesDashboard:
      enabled: false
    nginxIngress:
      enabled: true
      externalTrafficPolicy: Cluster
  extensions:
    - type: shoot-flux
  maintenance:
    timeWindow:
      begin: 020000+0200
      end: 030000+0200
    autoUpdate:
      kubernetesVersion: true
      machineImageVersion: true
  hibernation:
    schedules:
    - start: '00 19 * * 1,2,3,4,5'
      end: '00 08 * * 1,2,3,4,5'
      location: Europe/Berlin
