apiVersion: v1
kind: Secret
metadata:
  name: gardener-values
  namespace: flux-system
type: Opaque
stringData:
  values.yaml: |
    global:
      internalDomain:
        domain: internal.23ke-run-5c61.23t-test.okeanos.dev
        provider: azure-dns
        credentials:
          tenantID:
          subscriptionID:
          clientID:
          clientSecret:
      defaultDomains:
      - domain: internal.23ke-run-5c61.23t-test.okeanos.dev
        provider: azure-dns
        credentials:
          tenantID:
          subscriptionID:
          clientID:
          clientSecret:
      deployment:
        virtualGarden:
          clusterIP: 10.16.1.1
      apiserver:
        replicaCount: 1
      scheduler:
        replicaCount: 1
      admission:
        replicaCount: 1
      controller:
        replicaCount: 1
