apiServer:
    hostname: 127.0.0.1
    oidcIssuerURL: https://identity.URL
    serviceName: garden-kube-apiserver
gardenletBootstrap:
    createToken: false
    token:
        id: abcdef
        secret: 0
images:
    apiserver: registry.k8s.io/kube-apiserver:v1.29.15
    controllermanager: registry.k8s.io/kube-controller-manager:v1.29.15
namespace: xxx
replicas: 3
serviceName: garden-kube-apiserver
tls:
    admin:
        crt: client-certificate
        key: client-key
    kubeAPIServer:
        ca:
            crt: ca-certificate
            key: ca-key
        server:
            crt: server-certificate
            key: server-key
        staticTokens:
            healthCheck: token
    kubeControllerManager:
        crt: client-certificate
        key: client-key
    serviceAccountKey: key
