global:
    image:
        pullPolicy: IfNotPresent
        repository: eu.gcr.io/gardener-project/gardener/metrics-exporter
        tag: latest
    resources:
        requests:
            cpu: 100m
            memory: 128Mi
    securityContext:
        readOnlyRootFilesystem: true
    server:
        bindAddress: 0.0.0.0
        port: 2718
    serviceAccountTokenVolumeProjection:
        audience: ""
        enabled: false
        expirationSeconds: 43200
    virtualGarden:
        enabled: false
        user:
            name: ""
