apiVersion: v1
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: gardenlet-base-values
  namespace: flux-system
data:
  values.yaml: |-
    global:
      token:
        id: ${TOKEN_ID}
        secret: ${TOKEN_SECRET}
      gardenlet:
        config:
          seedConfig:
            spec:
              dns:
                ingressDomain: ${GARDENLET_INGRESS:=internal}.${ENV}.${BASE_DOMAIN}
          gardenClientConnection:
            gardenClusterAddress: https://api.${ENV}.${BASE_DOMAIN}:443
            bootstrapKubeconfig:
              secretRef:
                name: gardenlet-kubeconfig-bootstrap
                namespace: flux-system
            kubeconfigSecret:
              name: gardenlet-kubeconfig
              namespace: garden
          featureGates:
            ManagedIstio: true
