{{- if .Values.backups.enabled }}
apiVersion: v1
kind: Secret
metadata:
  creationTimestamp: null
  name: etcd-base-values
  namespace: flux-system
type: Opaque
stringData:
  values.yaml: |-
{{- if eq .Values.backups.provider "azure" }}
        backup:
          storageProvider: ABS
          secretData:
            storage-account: {{ .Values.backups.credentials.storageAccount | b64enc }}
            storage-key: {{ .Values.backups.credentials.storageAccountAccessKey | b64enc }}
          storageContainer: {{ .Values.backups.bucketName }}
          env:
            - name: "STORAGE_ACCOUNT"
              valueFrom:
                secretKeyRef:
                  name: etcd-backup
                  key: "storage-account"
            - name: "STORAGE_KEY"
              valueFrom:
                secretKeyRef:
                  name: etcd-backup
                  key: "storage-key"
{{- end }}
{{- if eq .Values.backups.provider "aws" }}
        backup:
          storageProvider: S3
          secretData:
            region: {{ .Values.backups.region }}
            access-key-id: {{ .Values.backups.credentials.accessKeyID }}
            secret-access-key: {{ .Values.backups.credentials.secretAccessKey }}
          storageContainer: {{ .Values.backups.bucketName }}
          env:
            - name: "AWS_REGION"
              valueFrom:
                secretKeyRef:
                  name: etcd-backup
                  key: "region"
            - name: "AWS_ACCESS_KEY_ID"
              valueFrom:
                secretKeyRef:
                  name: etcd-backup
                  key: "access-key-id"
            - name: "AWS_SECRET_ACCESS_KEY"
              valueFrom:
                secretKeyRef:
                  name: etcd-backup
                  key: "secret-access-key"
{{- end }}
{{- if eq .Values.backups.provider "openstack" }}
        backup:
          storageProvider: Swift
          secretData:
            auth-url: {{ .Values.backups.credentials.authURL }}
            password: {{ .Values.backups.credentials.password }}
            username: {{ .Values.backups.credentials.username }}
            project-name: {{ .Values.backups.credentials.tenantName }}
            region-name: {{ .Values.backups.credentials.region }}
            domain-name: {{ .Values.backups.credentials.domainName }}
          storageContainer: {{ .Values.backups.bucketName }}
          env:
            - name: "OS_AUTH_URL"
              valueFrom:
                secretKeyRef:
                  name: etcd-backup
                  key: "auth-url"
            - name: "OS_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: etcd-backup
                  key: "password"
            - name: "OS_USERNAME"
              valueFrom:
                secretKeyRef:
                  name: etcd-backup
                  key: "username"
            - name: "OS_TENANT_NAME"
              valueFrom:
                secretKeyRef:
                  name: etcd-backup
                  key: "project-name"
            - name: "OS_REGION_NAME"
              valueFrom:
                secretKeyRef:
                  name: etcd-backup
                  key: "region-name"
            - name: "OS_DOMAIN_NAME"
              valueFrom:
                secretKeyRef:
                  name: etcd-backup
                  key: "domain-name"
{{- end }}
{{- end }}
