apiVersion: v1
kind: Secret
metadata:
  name: identity-base-values
  namespace: flux-system
type: Opaque
stringData:
  values.yaml: |-
    connectors: ~
    issuerUrl: https://{{ include "identity.domain" . }}/oidc
    dashboardOrigins:
      - 'https://{{ include "dashboard.domain" . }}'
    dashboardClientSecret: {{ .Values.dashboard.clientSecret }}
    kubectlClientSecret: {{ .Values.dashboard.kubectlClientSecret }}
    tls: ~
    ingress:
      annotations:
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
        nginx.ingress.kubernetes.io/use-port-in-redirects: "true"
        kubernetes.io/ingress.class: nginx
        cert.gardener.cloud/purpose: managed
        cert.gardener.cloud/class: base-cert-class
        dns.gardener.cloud/dnsnames: "*"
        dns.gardener.cloud/ttl: "600"
        dns.gardener.cloud/class: base-dns-class
