apiVersion: v1
kind: Secret
metadata:
  name: identity-base-values
  namespace: flux-system
type: Opaque
stringData:
  values.yaml: |-
    connectors: ~
    issuerUrl: https://identity.{{ .Values.domains.global.domain }}/oidc
    dashboardOrigins:
      - 'https://dashboard.{{ .Values.domains.global.domain }}'
      - 'http://localhost:8000'
    dashboardClientSecret: {{ .Values.dashboard.clientSecret }}
    tls: ~
    ingress:
      annotations:
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
        nginx.ingress.kubernetes.io/use-port-in-redirects: "true"
        kubernetes.io/ingress.class: nginx
        cert.gardener.cloud/purpose: managed
        cert.gardener.cloud/class: base-cert-class
        dns.gardener.cloud/dnsnames: "*"
        dns.gardener.cloud/ttl: "600"
        dns.gardener.cloud/class: base-dns-class
