{{- $tokenId := (print (randNumeric 1) (randAlphaNum 4)  (randAlpha 1)) | lower -}}
{{- $tokenSecret := (print (randNumeric 2) (randAlphaNum 12) (randAlpha 2)) | lower -}}

apiVersion: v1
kind: Secret
metadata:
  creationTimestamp: null
  name: gardenlet-base-values
  namespace: flux-system
type: Opaque
stringData:
  values.yaml: |-
    global:
      token:
        id: {{ $tokenId }}
        secret: {{ $tokenSecret }}
    config:
      seedConfig:
        spec:
{{- if .Values.backups.enabled }}
          backup:
            provider: {{ .Values.backups.provider }}
            region: {{ .Values.backups.region }}
            secretRef:
              name: for-backups-internal-seed
              namespace: garden
{{- end }}
          dns:
            ingressDomain: >-
              {{- (print .Values.gardenlet.ingressDomain "." .Values.domains.global.domain) | nindent 18 }}
      gardenClientConnection:
        gardenClusterAddress: https://{{ .Values.kubeApiServer.ingressDomain }}.{{ .Values.domains.global.domain }}:443
        bootstrapKubeconfig:
          secretRef:
            name: gardenlet-kubeconfig-bootstrap
            namespace: flux-system
        kubeconfigSecret:
          name: gardenlet-kubeconfig
          namespace: garden
      featureGates:
        ManagedIstio: true
---
apiVersion: v1
kind: Secret
metadata:
  name: kube-apiserver-base-values
  namespace: flux-system
type: Opaque
stringData:
  values.yaml: |-
    namespace: garden
    serviceName: garden-kube-apiserver
    replicas: 2
    apiServer:
      hostname: {{ .Values.kubeApiServer.ingressDomain }}.{{ .Values.domains.global.domain }}
      serviceName: garden-kube-apiserver
      oidcIssuerURL: https://{{ .Values.identity.ingressDomain }}.{{ .Values.domains.global.domain }}/oidc
    ingress:
      annotations:
        dns.gardener.cloud/dnsnames: "*"
        dns.gardener.cloud/ttl: "600"
        dns.gardener.cloud/class: base-dns-class
    etcd:
      main:
        endpoints: https://etcd:2379
      events:
        endpoints: https://etcd-events:2379
      secretNames:
        ca: etcd-ca
        client: etcd-client
    gardenletBootstrap:
      createToken: true
      token:
        id: {{ $tokenId }}
        secret: {{ $tokenSecret }}
    tls:
      kubeAPIServer:
        basicAuthPassword: {{ .Values.kubeApiServer.basicAuthPassword }}
{{- if (((.Values).issuer).ca) }}
      identity:
        ca: |
          {{- .Values.issuer.ca | nindent 10 }}
{{- end }}
