application:
    enabled: false
global:
    image:
        pullPolicy: IfNotPresent
        repository: europe-docker.pkg.dev/gardener-project/public/gardener/metrics-exporter
        tag: 0.43.0
    resources:
        requests:
            cpu: 100m
            memory: 128Mi
    securityContext:
        readOnlyRootFilesystem: true
    server:
        bindAddress: 0.0.0.0
        port: 2718
    serviceAccountTokenVolumeProjection:
        audience: ""
        enabled: false
        expirationSeconds: 43200
    virtualGarden:
        enabled: false
        user:
            name: ""
runtime:
    enabled: false
