apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: configuration
  namespace: flux-system
spec:
  interval: 1m
  dependsOn:
    - name: yake-env-config
  sourceRef:
    kind: GitRepository
    name: yake
  path: ./configuration
  prune: true
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: generated-secrets
      namespace: flux-system
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: configuration
      namespace: flux-system
