apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gardener.cloud:metrics-exporter
rules:
- apiGroups:
  - core.gardener.cloud
  resources:
  - shoots
  - projects
  - seeds
  - secretbindings
  verbs:
  - get
  - watch
  - list
- apiGroups:
  - seedmanagement.gardener.cloud
  resources:
  - managedseeds
  verbs:
  - get
  - watch
  - list
- apiGroups: 
  - security.gardener.cloud
  resources:
  - credentialsbindings
  verbs:
  - get
  - watch 
  - list
