---
name: Build and Push gardener-extension-provider-local

permissions:
  packages: write

on:
  workflow_dispatch:
    inputs:
      version:
        description: Valid version tag of gardener/gardener, including leading "v". Leave empty to read version from gardener/gardener.yaml
        required: false
  push:
    branches:
      - main
      - renovate/*-gardener-controlplane
    paths:
      - gardener/gardener.yaml

jobs:
  buildAndPush:
    name: Build and push extension-provider-local to ghcr
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
      - name: Login to ghcr
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin
      - name: Build and push
        env:
          version: ${{ github.event.inputs.version }}
        run: ./hack/ci/yake-local/build-extension-provider-local.sh
