name: Helm Unittests

on:
  pull_request:
    paths:
      - ./addons
      - ./configuration
      - ./gardener
      - ./pre-gardener

jobs:
  check-yaml-syntax:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Install
        run: |
          apt update
          apt install -y curl git
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
          helm plugin install https://github.com/helm-unittest/helm-unittest.git
      - name: Test
        run: ./hack/run-helm-unittests.sh
