name: Release
run-name: Release "${{ inputs.version || github.event.head_commit.message }}" by @${{ github.actor }}
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'New version to be released. Format: 1.3.3-7'
        required: true
        type: string
  push:
    branches:
      - 'release-v*'

concurrency:
  group: release-${{ inputs.version }}-${{ github.ref_name }}
  cancel-in-progress: false

jobs:
  prepare:
    runs-on: self-hosted
    name: Prepare
    env:
      version: ${{ github.event.inputs.version }}
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install yarn
        run: npm i -g yarn

      - name: Checkout source
        uses: actions/checkout@v3
        with:
          token: "${{ secrets.GH_TOKEN_23T_MACHINE_USER }}"
          fetch-depth: 0
      - name: Configure git
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
      - name: Configure version to release
        id: version
        run: |
          if [[ -z "$version" ]]; then
            version=$(echo ${{ github.event.head_commit.message }} | grep -oP "Update gardener-controlplane to v\K([0-9]{1,}[.][0-9]{1,}[.][0-9]{1,})")-0
          fi
          echo "version=$version" | tee $GITHUB_ENV | tee $GITHUB_OUTPUT
      - name: Prepare release
        run: "hack/release/prepare.sh $version"
      - name: Github Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: /tmp/release-body.md
          tag_name: v${{ github.event.inputs.version }}
