name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'New version to be released. Format: 1.3.3-7'
        required: true
        type: string

jobs:
  prepare:
    runs-on: self-hosted
    name: Prepare
    env:
      version: ${{ github.event.inputs.version }}
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
        with:
          token: "${{ secrets.GH_TOKEN_23T_MACHINE_USER }}"
          fetch-depth: 0
      - name: Configure git
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
      - name: Prepare release
        run: hack/release/prepare.sh "${{ env.version }}"

  upload:
    runs-on: self-hosted
    name: Upload
    needs:
      - prepare
    steps:
      - uses: actions/checkout@v3
        with:
          token: "${{ secrets.GH_TOKEN_23T_MACHINE_USER }}"
          ref: "v${{ github.event.inputs.version }}"
      - name: Install MC
        run: |
          mkdir -p ~/.local/bin
          wget https://dl.minio.io/client/mc/release/linux-amd64/mc -O ~/.local/bin/mc
          chmod +x ~/.local/bin/mc
      - name: Upload to release bucket
        env:
          MINIO_HOSTNAME: ${{ secrets.MINIOHOSTNAME }}
          MINIO_URL: ${{ secrets.MINIOURL }}
          MINIO_PW: ${{ secrets.MINIOPASSWORD }}
          MC_ALIAS: releases
          tag: v${{ github.event.inputs.version }}
        run: hack/release/upload-bucket.sh

  upload-oci:
    runs-on: self-hosted
    name: Upload OCI
    needs:
      - prepare
    steps:
      - uses: actions/checkout@v3
        with:
          token: "${{ secrets.GH_TOKEN_23T_MACHINE_USER }}"
          ref: "v${{ github.event.inputs.version }}"

      - name: Upload to harbor container registry
        env:
          tag: v${{ github.event.inputs.version }}
          creds: ${{ secrets.HARBORCREDENTIALS }}
        run: hack/release/upload-oci.sh

  upload-git:
    runs-on: self-hosted
    name: Upload Git
    needs:
      - prepare
    steps:
      - uses: actions/checkout@v3
        with:
          token: "${{ secrets.GH_TOKEN_23T_MACHINE_USER }}"
          ref: "v${{ github.event.inputs.version }}"
      - name: Checkout 23ke-releases repo
        uses: actions/checkout@v3
        with:
          repository: 23technologies/23ke-releases
          path: 23ke-releases
          token: "${{ secrets.GH_TOKEN_23T_MACHINE_USER }}"
          ref: main
      - name: Upload to release git repository
        env:
          tag: v${{ github.event.inputs.version }}
        run: hack/release/upload-git.sh
