name: "23KE on shoot"
on:
  workflow_dispatch:
  pull_request:
jobs:
  ci:
    runs-on: 23ke-runner
    name: "23KE shoot testrun"
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Setup Environment
        run: echo "$KUBECONFIG_CONTENT" > hack/ci/secrets/gardener-kubeconfig.yaml; bash hack/ci/00-environment.sh
        env:
          KUBECONFIG_CONTENT: ${{ secrets.TOKEN_OKEANOS_23KE_CI }}
      - name: Setup shoot
        run: bash hack/ci/01-shoot.sh
      - name: Upload 23ke bucket
        id: upload23KE
        run: bash hack/ci/04-23ke-bucket.sh
      - name: Upload 23ke-config bucket
        id: upload23KEConfig
        run: echo "$AZURE_DNS" > hack/ci/secrets/azure_dns ; bash hack/ci/05-config-bucket.sh
        env:
          AZURE_DNS: ${{ secrets.AZURE_DNS_SECRET }}
      - name: Install flux
        id: installFlux
        run: bash hack/ci/06-flux.sh
      - name: Install 23KE
        id: install23ke
        run: bash hack/ci/07-23ke.sh
      - name: Install Gardenlet
        id: installGardenlet
        run: echo -n "$CLOUD_SECRET" > hack/ci/secrets/hcloud_token ; bash hack/ci/08-gardenlet.sh
        env:
          CLOUD_SECRET: ${{ secrets.HCLOUD_TESTING_TOKEN }}
      - name: Install demo app
        id: installDemoApp
        run: bash hack/ci/09-demo-shoot.sh
      - name: Delete demo shoot
        run: bash hack/ci/delete-microservice-shoot.sh
      - name: Delete shoot
        run: bash hack/ci/delete-shoot.sh
      - name: Delete demo shoot after failure
        if: failure() && ( steps.installDemoApp.outcome == 'failure' )
        run: bash hack/ci/delete-microservice-shoot.sh
      - name: Delete shoot after failure
        if: failure() && ( steps.upload23KE.outcome == 'failure' || steps.upload23KEConfig.outcome == 'failure' || steps.installFlux.outcome == 'failure' || steps.install23ke.outcome == 'failure' || steps.installGardenlet.outcome == 'failure' || steps.installDemoApp.outcome == 'failure' )
        run: bash hack/ci/delete-shoot.sh
