name: "23KE on shoot"
on:
  pull_request:
jobs:
  ci:
    runs-on: self-hosted
    name: "23KE shoot testrun"
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Install packages
        run: bash hack/ci/00-packages.sh
      - name: Setup Environment
        run: echo "$KUBECONFIG_CONTENT" > hack/secrets/gardener-kubeconfig.yaml; bash hack/ci/00-environment.sh
        env:
          KUBECONFIG_CONTENT: ${{ secrets.GARDENER_APISERVER_KUBECONFIG }}
      - name: Setup shoot
        run: bash hack/ci/01-shoot.sh
      - name: Install cert-manager
        id: installCertManager
        run: bash hack/ci/02-letsencrypt.sh
      - name: Install minio
        id: installMinio
        run: bash hack/ci/03-minio.sh
      - name: Upload 23ke bucket
        id: upload23KE
        run: bash hack/ci/04-23ke-bucket.sh
      - name: Upload 23ke-config bucket
        id: upload23KEConfig
        run: echo "$AZURE_DNS" > hack/secrets/azure_dns ; bash hack/ci/05-config-bucket.sh
        env:
          AZURE_DNS: ${{ secrets.AZURE_DNS_SECRET }}
      - name: Install flux
        id: installFlux
        run: bash hack/ci/06-flux.sh
      - name: Install 23KE
        id: install23ke
        run: bash hack/ci/07-23ke.sh
      - name: Install Gardenlet
        id: installGardenlet
        run: echo "$CLOUD_SECRET" > hack/secrets/hcloud_token ; bash hack/ci/08-gardenlet.sh
        env:
          CLOUD_SECRET: ${{ secrets.HCLOUD_TESTING_TOKEN }}
      - name: Delete shoot
        run: bash hack/ci/delete-shoot.sh'
      - name: Delete shoot after failure
        if: failure() && ( steps.installCertManager.outcome == 'failure' || steps.installMinio.outcome == 'failure' || steps.upload23KE.outcome == 'failure' || steps.upload23KEConfig.outcome == 'failure' || steps.installFlux.outcome == 'failure' || steps.install23ke.outcome == 'failure' || steps.installGardenlet.outcome == 'failure' )
        run: bash hack/ci/delete-shoot.sh'
