name: "Yake install"
on:
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - 'docs/**'
jobs:
  install:
    strategy:
      matrix:
        version: [ v1.26.6, v1.27.4 ]
    runs-on: self-hosted
    name: "Yake install testrun"
    steps:
      - name: Checkout source
        uses: actions/checkout@v3.4.0
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - name: install
        env:
          K8S_VERSION: ${{ matrix.version }}
        working-directory: hack/ci/yake-local
        run: ./work.sh
