name: "Yake install"
on:
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - 'docs/**'
      - '**.md'
jobs:
  install:
    strategy:
      fail-fast: false
      matrix:
        cni:
          - calico
          - cilium
        version:
          - v1.27.11
          - v1.28.7
    runs-on: self-hosted
    timeout-minutes: 60
    name: "Yake install testrun"
    steps:
      - name: Checkout source
        uses: actions/checkout@v3.4.0
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - name: install
        env:
          K8S_VERSION: ${{ matrix.version }}
          CNI: ${{ matrix.cni }}
          REGISTRY_OVERWRITE: ${{ vars.REGISTRY_OVERWRITE }} # set as a repository variable so it will not be used in forks
        working-directory: hack/ci/yake-local
        run: ./work.sh
